body {
    margin: 0;
    padding: 0;
    padding-top: 0px;
}

header {
    background-color: aquamarine;
    border: 5px solid black;
    text-align: center;
    border-radius: 10px;
}

ul {
    list-style: none;
    text-decoration: none;
}

li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    margin: 10px;
    background-color: rgb(0, 195, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 1s ease;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

a:hover {
    background-color: rgb(0, 255, 255);
}

#head {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 600px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 20px;
}

#htag {
    margin-left: 100px;
    position: relative;
    margin-top: -600px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

#get, #get2 {
    background-color: rgb(0, 255, 136);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    cursor: pointer;
    width: 30px;
    height: 10px;
    transition: all 1s ease; /* Add a smooth transition for all properties */
}

#get:hover, #get2:hover {
    background-color: aqua;
    scale: 5.0;
}
