body{
    margin: none;
    padding: none;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

form {
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
}

input {
    border: 2px solid rgb(0, 255, 21);
    width: 250px;
    height: 15px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: green;
    outline: green;
}

button {
    background-color: transparent;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    transition: background-color 2s ease;
    cursor: pointer;
}

button:hover{
    background-color: aquamarine;
}


a {
    text-decoration: none;
    color: black;
}