body {
    margin: 0;
    padding: 0;
    padding-top: 0;
    margin-top: auto;
    animation-name: all;
    animation-duration: 5s;
    background-image: url(pexels-eberhard-grossgasteiger-534164.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}

@keyframes all {
    0% {
        opacity: 0;
    }    
}

header {
    background-color: rgb(127, 197, 255);
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    padding: 0;
    display: flex;
    margin-bottom: 1px;
    box-shadow: 10px 10px 10px rgb(143, 143, 143);
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

ul a {
    background-color: rgb(125, 225, 255);
    color: black;
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;
    text-decoration: none;
}

ul {
    margin-left: 275px;
}

.img {
    height: 150px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid black;
}

h3 {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    margin-left: 60px;
    cursor: pointer;
}

#G {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    margin-left: 55px;
}

#sta {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
    margin-left: 40px;
}

#el{
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
    margin-left: 45px;
}


#cloths {
    border: 3px solid black;
    display: inline-block;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 100px;
    text-align: center;
    overflow: hidden;
    transition: all 2s;
    
}

#cloths:hover {
    border: 2px solid green;
    background-color: rgb(0, 255, 191);    
}

#cloths1:hover {
    border: 2px solid green;
    background-color: rgb(0, 255, 191);
    
}

#cloths2:hover {
    
    border: 2px solid green;
    background-color: rgb(0, 255, 191);
}

#cloths3:hover {
    
    border: 2px solid green;
    background-color: rgb(0, 255, 191);
}

#cloths1 {
    border: 3px solid black;
    display: inline-block;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 2s;
}

#cloths2 {
    border: 2px solid black;
    display: inline-block;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 2s;
}

#cloths3 {
    border: 2px solid black;
    display: inline-block;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 2s;
}


#catagori {
    text-align: center;
    margin-top: 1px;
}

.bar {
    transition: all 2s ease;
    cursor: pointer;
    font-size: medium;
}


.bar:hover {
    background-color: rgb(0, 255, 170);
    border: 3px solid green;
}
